/* CSS Document */

/* modal box */
input[type="checkbox"] {
	display:none;
}
input[type="checkbox"]:checked ~ .modal,
input[type="checkbox"]:checked ~ .modal-background {
	display: block;
}
.modal-background {
	width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 9998;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;	
    width: 600px;
    height: 600px;
    background-color:rgba(0, 0, 0, .9);
    box-sizing: border-box;
    z-index: 9999;
}
.modal > p {
	padding: 15px;
    margin: 0;
}
.modal-header {
	background-color: rgba(0, 0, 0, .9);
    border-bottom: 1px solid #dddddd;
    box-sizing: border-box;
    height: 50px;
}
.modal-header h3 {
	margin: 0;
    box-sizing: border-box;
    padding-left: 15px;
    line-height: 50px;
    color: #4d4d4d;
    font-size: 16px;
    display: inline-block;
}
.modal-header label {
	box-sizing: border-box;
    border-left: 1px solid #dddddd;
    float: right;
    line-height: 50px;
    padding: 0 15px 0 15px;
    cursor: pointer;
}
.modal-header label:hover img {
	opacity: 0.6;
}

/* ----- This is body ----- */

body{
	background-image:url(../images/DMC1_background.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size: cover;
	color:#D3BA7F;
	margin: 0 auto;
}

/* ----- This is ul from banner div ----- */

#banner img{
    width: 50%;
    margin-left:250px;
}

#banner ul{
	list-style-type:none;
    overflow:hidden;
	margin:0;
}

/* ----- This is li from banner div ----- */

#banner li{
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:20px;
	display:inline-block;
}

/* ----- This is the start of styling a from banner div ----- */

#banner a:link{
	display:block;
	width:130px;
	background-color:black;
	color:#9de1f6;
	text-align:center;
	padding:4px;
	text-decoration:none;
}

#banner a:visited{
	display:block;
	width:100px;
	background-color:black;
	color:#9de1f6;
	text-align:center;
	padding:4px;
	text-decoration:none;
}

#banner a:hover{
	background-color:#FF1F23;
	color:#9de1f6;
}

/* ----- This is content div ----- */

#content{
	height:1000px;
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	background:rgba(0, 0, 0, .9);
	font-family:Georgia, "Times New Roman", Times, serif;
	min-height: 1250px;
}

#clearit {
	clear: both;
}

/* -----  Right float stuff ----- */

.infobox {
    border: 1px solid #D3BA7F;
    border-spacing: 3px;
    background-color: rgba(0, 0, 0, .9);
	color:#D3BA7F;
    padding: 0.2em;
    font-size: 88%;
    line-height: 1.5em;
}

.infobox a {
    text-decoration: none !important;
}


/* ----- This is the end of styling a from banner div as well as navi bar ----- */


#toc_container {
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
}

.toc_title {
    font-weight: 700;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
    margin: 0 0 0 12px !important;
}

#toc_container a{
    text-decoration: none !important;
    letter-spacing: 1px;
    line-height: 1.6;
}




/* ----- Ignore the stuff that is down for now till the UI/UX content is complete ---- */

/* ----- setting up Left Div ----- */

#left{
	padding: 10px 20px;
}

#left h1 {
	font-size: 1.8em;
	font-weight: normal;
	color:#ff3333;
    border-bottom:1px dotted #D3BA7F;
    line-height: 1.3;
}

#left h2 {
    font-size: 1.5em;
	font-weight: normal;
    color:#ff3333;
    border-bottom:1px dotted #D3BA7F;
    line-height: 1.3;
}

#left ul {
	color:#D3BA7F;
    line-height: 1.3;
	list-style-type: square;
}

a:visited, a:link{
	color:#D3BA7F;;
}

#left dt {
	float: left;
	font-weight: bold;
	color:#ff3333;
}

#left dd {
	margin: 1em 0 1em 6em;
}

#icon {
	float: left;
	margin: 5px;
	width: 120px;
	height: 120px;
}

/* ---- setting up right div ---- */

#right {
	float: right;
    clear: right;
    margin: 4.6em 0 0.5em 0.5em;
	margin-right: 10px;
}


#right h1 span {
	display: inline-block;
	width: 9px;
	height: 9px;
	margin-right: 1em;
	border: 1px solid silver;
	vertical-align: middle;
	border-color: #cc0000;
	background: #cc0000;
}


#right h2 {
	margin: 0;
	font-size: 100%;
	font-weight: bold;
}

#right .link {
	text-align: right;
}

#right a:visited, a:link{
	color:#D3BA7F;
	padding: 2px 3px;
}

#box{
	color:#D3BA7F;
	background:#811832;
	float: left;
	position: relative;
	width: 210px;
	margin: 15px 0 20px 0;
	padding: 2px 5px 2px 30px;
	font-size: 10px;
	line-height: 1.2;
}

#box span{
	background: #D3BA7F;
	display: block;
	position: absolute;
	top: 5px;
	left: 8px;
	width: 8px;
	height: 8px;
	background: white;
}

#right input[type=submit] {
	border: 1px solid silver;
	border-color:#d72854;
	background:#811832;
	float: right;
	margin: 15px 0 20px 0;
	margin-right: 60px;
	width: 150px;
	height: 30px;
	color: #D3BA7F;
	text-align: center;
	font-size: 14px;
	line-height: 25px;
}

#clean {
	clear: both;
	height: 1px;
	margin: 0;
}

#right h3{
	margin: 0;
	font-size: 100%;
	font-weight: bold;
	color:#ff3333;
}

/* ----- setting up footer ----- */	


#footer {
	background-color:12323c;
	height:275px;
	background-image:url(../images/bg_footer3.png);
	background-color:#360713;
	background-repeat: repeat-x;
	background-position: center top;
	font-family: Trebuchet MS, Verdana, Arial, Tahoma, sans-serif;
	font-size: 12px;
	clear: both;
}

#footer .footercontent {
	width: 1080px;
	margin-left: auto;
	margin-right: auto;
}

#copyrights {
	height: 70px;
	padding: 7px 1px 0px 1px;
	font-family: Century Gothic, Trebuchet MS, Verdana, Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #D3BA7F;
}

#copyrights .rights {
	float: left;
}

#copyrights .college {
	float: right;
}

#copyrights .design {
	text-indent: -99999px;
}

#copyrights a:link, #copyrights a:visited, #copyrights a:active {
	color: #12323c;
	text-decoration: none;
}

#links {
	height: 184px;
	background-image:url(../images/bg_links.png);
	background-repeat: no-repeat;
}

#links .list {
	width: 202px;
	float: left;
}

#links ul {
	margin: 0px;
	padding: 10px 0px 0px 30px;
	float: left;
	list-style: none;
	position: relative;
}

#links li {
	margin: -3px 0px;
	padding: 0px 0px 0px 14px;
	background-image:url(../images/bullet.png);
	background-repeat: no-repeat;
	background-position: 0px 4px;
}

#links a:link, #links a:visited, #links a:active {
	color: #D3BA7F;
	font-weight: bold;
	text-decoration: none;
}

.line{
	text-decoration:line-through;
	color:grey;
}

#extra {
	margin: 110px 0px 0px 26px;
	width: 150px;
}

#extra div {
	padding: 2px;
	margin-bottom: 4px;
	background-color: #4d0e1e;
	border: 2px solid #d72854;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
}

#legal {
	padding: 2px;
	background-color: #4d0e1e;
	border: 2px solid #d72854;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	color:rgba(94,212,255,1.00);
	position: relative;
}

#legal .mini {
	background-image:url(../images/dante3.png);
	background-repeat: no-repeat;
	width: 30px;
	height: 40px;
	float: left;
	position: absolute;
	left: 7px;
	top: -22px;
}