/* Accordion Walkthrough step by step

1 - Accordion Container */

.accordion, .accordion * {
  font-family: arial, sans-serif;
  box-sizing: border-box;
}
.accordion { max-width: 620px; }

/* 2 - Hide Checkbox */
.accordion input { display: none; }

/* Accordion Label */

.accordion label {
  /* (3.1) DIMENSIONS */
  position: relative; /* required for (f2) position:absolute */
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
 
  /* (3.2) COSMETICS */
  font-weight: 700;
  color: #D3BA7F;
  background: rgba(77, 14, 30);
  cursor: pointer;
}

/* (4) Accordion Content - Hidden by default */
/* css animation will not work with auto height */
/* this is why we use max-height instead */
.accordion .ShowContent {
  background: rgba(0, 0, 0, .9);
  border: 1px solid #D3BA7F;
  overflow: hidden;
  text-align: justify;
  text-justify: inter-word;
  max-height: 0;
}

.accordion .ShowContentHigh {
  background: rgba(0, 0, 0, .9);
  border: 1px solid #D3BA7F;
  line-height: 2.7;
  text-align: justify;
  text-justify: inter-word;
  overflow: hidden;
  max-height: 0;
}
.accordion .ShowContent ul { padding: 30px; padding-top: 0; }
.accordion .ShowContentHigh ul { padding: 35px; padding-top: 0; }

/* (5) open the accordion once checked */
.accordion input:checked ~ .ShowContent { max-height: 52vh; }
.accordion input:checked ~ .ShowContentHigh { max-height: 277vh; }

/* (6) Arrow Indicator */
.accordion label::after {
  /* (6.1) right arrow */
  display: block;  
  content: "\25b6";
 
  /* (6.2) Placing at the right side */
  position: absolute;
  right: 10px; top: 10px;
 
  /* (6.3) animate arrow */
  transition: all 0.4s;
}
 
/* (6.4) rotate arrow on checked */
.accordion input:checked ~ label::after { transform: rotate(90deg); }