/* CSS for the main interaction */

.accordion > input[type="checkbox"] {
    position: absolute;
    left: -100vw;
  }
  
  .accordion .textShow {
    overflow-y: hidden;
    height: 0;
  }
  
  .accordion > input[type="checkbox"]:checked ~ .textShow {
    height: auto;
    overflow: visible;
  }
  
  .accordion label {
    display: block;
  }

  /*  Styling */

  .accordion {
    margin-bottom: 1em;
    width:40%;
  }
  
  .accordion > input[type="checkbox"]:checked ~ .textShow {
    padding: 10px;
    border: 1px solid #e8e8e8;
    border-top: 0;
  }
  
  .accordion .handle {
    margin: 0;
    font-size: 1.125em;
    line-height: 1.2em;
  }
  
  .accordion label {
    color: #D3BA7F;
    cursor: pointer;
    font-weight: normal;
    padding: 10px;
    border: #D3BA7F;
    background:rgba(77, 14, 30, .9);
  }
  
  .accordion label:hover,
  .accordion label:focus {
    background:rgba(77, 14, 30);
  }
  
  .accordion .handle label:before {
    font-family: Arial, Helvetica, sans-serif;
    content: '\002B';
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
    line-height: 1.556em;
    vertical-align: middle;
  }
  
  .accordion > input[type="checkbox"]:checked ~ .handle label:before {
    content: '\2212';
    font-size: 20px;
  }