html, body {
    height: 100%;
    min-height: 100%;
	background-image:url(/images/1080p.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size: cover;
	margin: 0;
	padding: 0;
	color: #D3BA7F;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #d72854;
	border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: rgb(215, 40, 84,0.6); 
  }

#container {
	min-height:100%;
	position:relative;
}

#header {
	overflow: hidden;
	background-color: black;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
	border-bottom: solid 1px #d72854;
    color: #000000;
    padding: 0.3em 0 0;
    min-height: 3.125em;
    box-sizing: border-box;
 }

 #header a.Logo {
	background-image: url(https://static.wikia.nocookie.net/devilmaycry/images/f/fc/Untouchable_DMC.png);
	display: block;
    background-image: url(/images/banner.png);
    height: 60px;
    width: 560px;
    position: absolute;
    margin-left: auto;
	margin:-7px;
    background-color: black;
}

.header a.active {
	background-color: dodgerblue;
	color: white;
}

.header-right {
	float: right;
}

.search {
	width: 100%;
	position: relative;
	display: flex;
  }

.searchTerm {
	width: 100%;
	border: 2px solid #d72854;
	background-color: transparent;
	border-right: none;
	padding: 5px;
	height: 20px;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: #9DBFAF;
  }
  
  .searchTerm:focus{
	color: #d72854;
  }
  
  .searchButton {
	width: 40px;
	height: 34px;
	border: 1px solid #d72854;
	background: #d72854;
	text-align: center;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 18px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
	width: 30%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }