#Steps{  
  text-align: justify;
  color:#D3BA7F; 
}

#Steps td{
  padding: 3px;
}

#bossdata th {
    letter-spacing: 2px;
    line-height: 1.5;
  }
  
#bossdata td {
    letter-spacing: 1px;
  }
  
#bossdata td {
    text-align: center;
  }
  
#bossdata tfoot th {
    text-align: right;
  }