/* CSS Document */

/* ----- This is content div ----- */

#content{
	display:block;
	height:80%;
	width:60%;
	margin-top:3.125em;
	background:rgba(0, 0, 0, .9);
	font-family: "Bookman Old Style";
	position: fixed;
    left: 50%;
    transform: translateX(-50%);
	margin: 1%, 0;
	box-shadow:0 1px 2px 1px rgba(0,0,0,0.06);
	border: 1px solid #250b2d;
	border-radius: 5px;
	overflow-y: auto; /* relevant part */
	padding-bottom: 80px;
	line-height: 1.5;
}

#mobile{
	display: none;
}

#clearit {
	clear: both;
}

/* -----  Game box Info ----- */

.infobox {
    border: 1px solid #D3BA7F;
    border-spacing: 3px;
    background-color: rgba(0, 0, 0, .9);
    padding: 0.2em;
    font-size: 88%;
    line-height: 1.5em;
}

.infobox a{
	text-decoration-line: none;
	color:#D3BA7F;
}

.infobox a:hover{
    padding-left: 10px;
    color:rgba(0, 0, 0, .9) !important;
}

/* ----- Table of Contents ----- */


#toc_container {
    border: 1px dashed #aaa;
    display: table;
    font-size: 95%;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1.25em 1.75em;
    min-width: 15em;
}

.toc_title {
    font-weight: 700;
	border-bottom: 1px solid #aaa;
	line-height: 1.5;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}

#toc_container a{
    text-decoration: none !important;
	color:#ff6600;
    letter-spacing: 1px;
    line-height: 1.6;
}

/* ----- Left Div ----- */

#left{
	padding: 10px 20px;
}

h1 {
	font-size: 1.8em;
	font-weight: normal;
	color:#ff3333;
    border-bottom:1px dotted #D3BA7F;
    line-height: 1.3;
}

#left h2 {
    font-size: 1.5em;
	font-weight: normal;
    color:#ff3333;
    border-bottom:1px dotted #D3BA7F;
    line-height: 1.3;
	overflow: hidden;
}

#left h3{
	color:#008b8b;
	border-bottom:1px dotted #D3BA7F;
    line-height: 1.3;
}

#left ul {
	color:#D3BA7F;
    line-height: 1.3;
	list-style-type: square;
}

#extralinks a:link, a:visited{
	color:#ff6600;
	text-decoration: none;
}

/* ---- setting up right div ---- */

#right {
	float: right;
    clear: right;
    margin: 4.6em 0 0.5em 0.5em;
	margin-right: 10px;
}


#right h1 span {
	display: inline-block;
	width: 9px;
	height: 9px;
	margin-right: 1em;
	border: 1px solid silver;
	vertical-align: middle;
	border-color: #cc0000;
	background: #cc0000;
}


#right h2 {
	margin: 0;
	font-size: 100%;
	font-weight: bold;
}

#right .link {
	text-align: right;
}

#clean {
	clear: both;
	height: 1px;
	margin: 0;
}

#right h3{
	margin: 0;
	font-size: 100%;
	font-weight: bold;
	color:#ff3333;
}

/* Misc Styles */

sup{
	line-height: 1;
	color:#ff3333;
}


  /* Mobile Layout
  
 
         ||
  ______||
 / ____ o|
| / ;; \ |
| ______ |
||______||
||  D2  ||
||______||
|'\[--]/'|
|  ¨''¨  |
|  ''''  |
|        |
|        |
|        |
|________| */

@media only screen and (max-width: 620px) {
	/* For mobile phones: */
	#content{
		display:block;
		height:80%;
		width:100%;
		line-height: 1.3;
		margin-top:3.125em;
		background:rgba(0, 0, 0, .9);
		font-family: "Bookman Old Style";
		position: fixed;
		left: 50%;
		transform: translateX(-50%);
		margin: 1%, 0;
		box-shadow:0 1px 2px 1px rgba(0,0,0,0.06);
		border: 1px solid #250b2d;
		border-radius: 5px;
		overflow-y: auto; /* relevant part */
		padding-bottom: 80px;
	}

	#mobile{
		display: block;
		margin: 5%;
	}
	
	#right {
		display:none;
	}
  }

  @media only screen and (max-width:1180px) {
	/* For tablets: */
	#content{
		width:100%;
	}
  }