#footer {
	    width:100%;
		position: absolute;
		z-index: 100;
		right: 0;
		bottom: 0;
		left: 0;
        background-color: black;
		border-top: solid 1px #d72854;
		text-align: center;
		height:80px;   /* Height of the footer */
}

.options {
    float: right;
    font-size: 90%;
    padding: 1px 0;
}

.textfooter {
    float: left;
	color:red;
    font-size: 90%;
    padding: 1px 0;
}

#footer .footercontent {
	width:60%;
	position: fixed;
    left: 50%;
    transform: translateX(-50%);
	margin-top: 30px;
}

#footer ul li a:hover {
	color: #d72854;
	padding-left: 10px;
}

#legal {
	padding: 2px;
	background-color: #4d0e1e;
	border: 2px solid #603f47;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	color:rgba(94,212,255,1.00);
	position: relative;
}

#legal .mini {
	background-image:url(../images/dante4.png);
	background-repeat: no-repeat;
	width: 60px;
	height: 40px;
	float: left;
	position: absolute;
	left: 7px;
	top: -18px;
}

  /* Mobile Layout
  
 
         ||
  ______||
 / ____ o|
| / ;; \ |
| ______ |
||______||
||  D2  ||
||______||
|'\[--]/'|
|  ¨''¨  |
|  ''''  |
|        |
|        |
|        |
|________| */

@media only screen and (max-width: 620px) {
	/* For mobile phones: */
	#legal {
		font-size: 14px;
		padding: 2px;
	}
#footer .footercontent {
    width: 95%;
}
	
	#legal .mini {
		background-image:url(../images/dante4.png);
		background-repeat: no-repeat;
		width: 60px;
		height: 40px;
		float: left;
		position: absolute;
		left: -2%;
		top: -102%;
	}
}