/* CSS Document */


/* ----- This is body ----- */

body{
	color: #D3BA7F;;
}

/* ----- This is content div ----- */

#content{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	background:rgba(0, 0, 0, .9);
	font-family: "Bookman Old Style";
	min-height: auto;
}

#clearit {
	clear: both;
}


/* ----- This is ul from banner div ----- */

#banner img{
    width: 50%;
    margin-left:250px;
}

/* ----- setting up Left Div ----- */

#left{
	margin-top:25px;
	float: left;
	width: 400px;
	padding: 10px 20px;
	border-right: 1px dotted #D3BA7F;
}

#left h1 {
	margin: 0.5em 0 0.3em;
	font-size: 18px;
	font-weight: normal;
	color:#ff3333;
}

#left h2 {
	margin: 0 0 0 6em;
	font-size: 100%;
	font-weight: bold;
}

#left ul {
	margin: 0 0 0 6em;
	padding: 0;
	color:#cc0000;
	list-style-type: square;
	list-style-position: inside;
}

ul a{
	text-decoration:none;
	color:#ff6600;;
}

ul a:hover {
	padding-left: 10px;
}

#left dt {
	float: left;
	font-weight: bold;
	color:#ff3333;
}

#left dd {
	margin: 1em 0 1em 6em;
}

#icon {
	float: left;
	margin: 5px;
	width: 120px;
	height: 120px;
}

/* ---- setting up right div ---- */

#right {
	float: right;
	width: 500px;
	margin: 0 20px 0 0;
	padding: 10px 0;
}

#right h1 {
	clear: left;
	margin: 0.5em 0 0.3em 0;
	font-size: 13px;
	color:#ff3333;
}

#right h1 span {
	display: inline-block;
	width: 9px;
	height: 9px;
	margin-right: 1em;
	border: 1px solid silver;
	vertical-align: middle;
	border-color: #cc0000;
	background: #cc0000;
}

#right img {
	float: left;
	margin: 0 15px 15px 0;
}

#right h2 {
	margin: 0;
	font-size: 100%;
	font-weight: bold;
}

#right .link {
	text-align: right;
}

#right a{
	text-decoration:none;
	color:#ff6600;;
	padding: 2px 3px;
}

#box{
	color:#D3BA7F;
	background:#811832;
	float: left;
	position: relative;
	width: 210px;
	margin: 15px 0 20px 0;
	padding: 2px 5px 2px 30px;
	font-size: 11px;
	line-height: 1.2;
}

#box span{
	background: #D3BA7F;
	display: block;
	position: absolute;
	top: 5px;
	left: 8px;
	width: 8px;
	height: 8px;
	background: white;
}

#right input[type=submit] {
	border: 1px solid silver;
	border-color:#d72854;
	background:#811832;
	float: right;
	margin: 15px 0 20px 0;
	margin-right: 60px;
	width: 150px;
	height: 30px;
	color: #D3BA7F;
	text-align: center;
	font-size: 14px;
	line-height: 25px;
}

#right input[type=submit]:hover{
	cursor: pointer;
    padding-left: 10px;
    background-color: #4d4d4d;
	border: 1px solid #4d4d4d;
}

#clean {
	clear: both;
	height: 1px;
	margin: 0;
}

#right h3{
	margin: 0;
	font-size: 100%;
	font-weight: bold;
	color:#ff3333;
}