/* CSS Document */


/* ----- This is body ----- */

body{
	background-image:url(/images/Temin-Ni-Gru.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size: cover;
	color:#FBF5F6;
	margin: 0 auto;
}

/* ----- This is content div ----- */

#content{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	background:rgba(0, 0, 0, .9);
	font-family:Georgia, "Times New Roman", Times, serif;
	min-height: 200px;
}

#clearit {
	clear: both;
}

/* ----- Setting up navi bar starts here ----- */
/* ----- This is ul from banner div ----- */

#banner img{
    width: 50%;
    margin-left:250px;
}

#banner ul{
	list-style-type:none;
    overflow:hidden;
	margin:0;
}

/* ----- This is li from banner div ----- */

#banner li{
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:20px;
	display:inline-block;
}

/* ----- This is the start of styling a from banner div ----- */

#banner a:link{
	display:block;
	width:130px;
	background-color:black;
	color:#9de1f6;
	text-align:center;
	padding:4px;
	text-decoration:none;
}

#banner a:visited{
	display:block;
	width:100px;
	background-color:black;
	color:#9de1f6;
	text-align:center;
	padding:4px;
	text-decoration:none;
}

#banner a:hover{
	background-color:#FF1F23;
	color:#9de1f6;
}

/* ----- This is the end of styling a from banner div as well as navi bar ----- */

/* ----- setting up Left Div ----- */

#left{
	margin-top:25px;
	float: left;
	width: 400px;
	padding: 10px 20px;
	border-right: 1px dotted #D3BA7F;
}

#left h1 {
	margin: 0.5em 0 0.3em;
	font-size: 18px;
	font-weight: normal;
	color:#ff3333;
}

#left h2 {
	margin: 0 0 0 6em;
	font-size: 100%;
	font-weight: bold;
}

#left ul {
	margin: 0 0 0 6em;
	padding: 0;
	color:#cc0000;
	list-style-type: square;
	list-style-position: inside;
}

a:visited, a:link{
	text-decoration:underline;
	color:#ff3333;
}

#left dt {
	float: left;
	font-weight: bold;
	color:#ff3333;
}

#left dd {
	margin: 1em 0 1em 6em;
}

#icon {
	float: left;
	margin: 5px;
	width: 120px;
	height: 120px;
}

/* ---- setting up right div ---- */

#right {
	float: right;
	width: 500px;
	margin: 0 20px 0 0;
	padding: 10px 0;
}

#right h1 {
	clear: left;
	margin: 0.5em 0 0.3em 0;
	font-size: 12px;
	color:#ff3333;
}

#right h1 span {
	display: inline-block;
	width: 9px;
	height: 9px;
	margin-right: 1em;
	border: 1px solid silver;
	vertical-align: middle;
	border-color: #cc0000;
	background: #cc0000;
}

#right img {
	float: left;
	margin: 0 15px 15px 0;
}

#right h2 {
	margin: 0;
	font-size: 100%;
	font-weight: bold;
}

#right .link {
	text-align: right;
}

#right a:visited, a:link{
	color:#D3BA7F;
	padding: 2px 3px;
}

#box{
	color:#D3BA7F;
	background:#811832;
	float: left;
	position: relative;
	width: 210px;
	margin: 15px 0 20px 0;
	padding: 2px 5px 2px 30px;
	font-size: 10px;
	line-height: 1.2;
}

#box span{
	background: #D3BA7F;
	display: block;
	position: absolute;
	top: 5px;
	left: 8px;
	width: 8px;
	height: 8px;
	background: white;
}

#right input[type=submit] {
	border: 1px solid silver;
	border-color:#d72854;
	background:#811832;
	float: right;
	margin: 15px 0 20px 0;
	margin-right: 60px;
	width: 150px;
	height: 30px;
	color: #D3BA7F;
	text-align: center;
	font-size: 14px;
	line-height: 25px;
}

#clean {
	clear: both;
	height: 1px;
	margin: 0;
}

#right h3{
	margin: 0;
	font-size: 100%;
	font-weight: bold;
	color:#ff3333;
}

/* ----- setting up footer ----- */	


#footer {
	background-color:12323c;
	height:275px;
	background-image:url(/images/bg_footer3.png);
	background-color:#360713;
	background-repeat: repeat-x;
	background-position: center top;
	font-family: Trebuchet MS, Verdana, Arial, Tahoma, sans-serif;
	font-size: 12px;
	clear: both;
}

#footer .footercontent {
	width: 1080px;
	margin-left: auto;
	margin-right: auto;
}

#footer ul li a:hover {
	color: #d72854;
	padding-left: 10px;
}

#copyrights {
	height: 70px;
	padding: 7px 1px 0px 1px;
	font-family: Century Gothic, Trebuchet MS, Verdana, Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #D3BA7F;
}

#copyrights .rights {
	float: left;
}

#copyrights .college {
	float: right;
}

#copyrights .design {
	text-indent: -99999px;
}

#copyrights a:link, #copyrights a:visited, #copyrights a:active {
	color: #12323c;
	text-decoration: none;
}

#links {
	height: 184px;
	background-image:url(/images/bg_links.png);
	background-repeat: no-repeat;
}

#links .list {
	width: 202px;
	float: left;
}

#links ul {
	margin: 0px;
	padding: 10px 0px 0px 30px;
	float: left;
	list-style: none;
	position: relative;
}

#links li {
	margin: -3px 0px;
	padding: 0px 0px 0px 14px;
	background-image:url(/images/bullet.png);
	background-repeat: no-repeat;
	background-position: 0px 4px;
}

#links a:link, #links a:visited, #links a:active {
	color: #D3BA7F;
	font-weight: bold;
	text-decoration: none;
}

.line{
	text-decoration:line-through;
	color:grey;
}

#extra {
	margin: 110px 0px 0px 26px;
	width: 150px;
}

#extra div {
	padding: 2px;
	margin-bottom: 4px;
	background-color: #4d0e1e;
	border: 2px solid #d72854;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
}

#legal {
	padding: 2px;
	background-color: #4d0e1e;
	border: 2px solid #d72854;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	color:rgba(94,212,255,1.00);
	position: relative;
}

#legal .mini {
	background-image:url(/images/dante3.png);
	background-repeat: no-repeat;
	width: 30px;
	height: 40px;
	float: left;
	position: absolute;
	left: 7px;
	top: -22px;
}