/* ----- This is content div ----- */

#content{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	margin-top:3.125em;
	background:rgba(0, 0, 0, .9);
	font-family: "Bookman Old Style";
	min-height: auto;
	box-shadow:0 1px 2px 1px rgba(0,0,0,0.06);
	border: 1px solid #250b2d;
    border-right-width: 0;
	border-radius: 5px;
	padding-bottom: 80px;
}

#clearit {
	margin-bottom: 10px;
	clear: both;
}

/* ----- Left Div ----- */

#left{
	padding: 10px 20px;
}

h1 {
	font-size: 1.8em;
	font-weight: normal;
	color:#ff3333;
    border-bottom:1px dotted #D3BA7F;
    line-height: 1.3;
}

#left h2 {
    font-size: 1.5em;
	font-weight: normal;
    color:#ff3333;
    border-bottom:1px dotted #D3BA7F;
    line-height: 1.3;
}

#left h3{
	color:#008b8b;
	border-bottom:1px dotted #D3BA7F;
    line-height: 1.3;
}

#left ul {
	color:#D3BA7F;
    line-height: 1.3;
	list-style-type: square;
}

a:link, a:visited{
	color:#ff6600;
	text-decoration: none;
}

/* ----- Step by Step with image ----- */

table
{
width: auto;
color:#D3BA7F;
}
table, th, td
{
border-collapse: collapse;
padding: 3px 4px;
text-align: center;
}